*
!.gitignore
!avatar.png
!earth-and-galaxy-elements-of-this-image-furnished-by-nasa.jpg
!hair-style-street-fashion-beautiful-girl.jpg
!portrait-of-cheerful-caucasian-man.jpg
!pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.png
!source.txt